html {
  background-color: #fffbe0;
}

.background {
  color: #fae17b;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
  border-color: #fae17b;
  overflow: hidden;
  max-height: 56em;
  font-family: Poppins, sans-serif;
}

.box {
  width: 22em;
  height: 22em;
  text-align: center;
  border-style: solid;
  border-radius: 4px;
  border-color: #4e4b02;
  background: rgba(253, 253, 248, 0.7);
}

.quote {
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.author {
  font-family: "Rock Salt", cursive;
}
